main {
  padding-top: 90px; 
}


.text-font{
  font-family: "Roboto";
}


.text-color{
  color: #2A2B2A;
}

.timeline-item {
  position: relative;
  display: block;       
  width: 100%;         
  padding-left: 1.5rem;   
  padding-bottom: 25px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px; 
  bottom: -50px;
  width: 3px;                 
  background-color: #d6d8d6cc;    
  z-index: 1;                 
  border-radius: 2px;   
}

.timeline-dot {
  width: 14px;
  height: 14px;
  left: -5.5px;                  
  top: 4px;                    
  background-color: #ffffff !important; 
  border: 2px solid #2A2B2A;   
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); 
  display: inline-block;
  z-index: 2;                  
  transition: all 0.2s ease-in-out; 
}

.timeline-item:hover .timeline-dot,
.timeline-dot:hover {
  background-color: #2A2B2A !important; 
  border-color: #2A2B2A;               
  box-shadow: 0 2px 6px rgba(18, 17, 17, 0.3); 
}

.timeline-item:last-child {
  padding-bottom: 0px;
}

.timeline-item:last-child::before {
  bottom: auto;
  height: 0px;
}

#about {
  scroll-margin-top: 95px; 
}

.fs-7 {
  font-size: 0.90rem !important;
}


