.navbar-color {
  background-color: rgba(255, 255, 255, 0.6) !important; 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-color.nav-scrolled {
  background-color: #5d5c5c70 !important; 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10) !important; 
}

.navbar-color.nav-scrolled .nav-link {
  color: #f3efef !important;
}

@font-face {
  font-family: 'MyCustomFont'; 
  src: url('fonts/Lato/Lato-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

.navbar-nav .nav-link {
  font-family: 'MyCustomFont', sans-serif;
  font-size: 16px;                      
  font-weight: 700;                       
  letter-spacing: 0.3px;                 
}

.navbar-logo img {
  transition: filter 0.3s ease-in-out; 
}

.navbar-color.nav-scrolled .lighten {
  filter: 
    brightness(1.8);
  transition: filter 0.3s ease-in-out; 
}


